.project-section {
    .project-heading {
        font-size: 1.4rem;
        text-decoration: underline;
    }

    .project-duration {
        color: unset;
        margin: 0;
    }

    .project-links-container {
        text-align: right;
    }
}