.review-section{
    .review-signature {
        text-align: right;
        font-size: small;
        font-style: italic;
    }

    .reviewer-name {
        font-style: normal;
        font-weight: bold;
        color: var(--brand-color);
        font-size: medium;
    }
}