.review-section{
    background-image: url('../../assets/images/bg04.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-attachment: fixed;

    .review-signature {
        text-align: right;
        font-size: small;
        font-style: italic;
    }

    .reviewer-name {
        font-style: normal;
        font-weight: bold;
        color: var(--brand-color);
        font-size: medium;
    }
}