.top-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .intro {
        text-align: left;
        width: 40%;
        border-left: 2px solid var(--text-primary);
        padding-left: 4rem;

        h1 {
            font-size: 9rem;
            font-weight: bold;
            line-height: 0.99em;
            margin: 0;
            color: var(--brand-color);
        }

        h2 {
            font-size: 2rem;
            margin: 0;
            margin-top: 1em;;
        }
    }

    .signature {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .avatar {
            width: 60%;
            height: auto;
            background-image: url('../../../public/faceshot.png');
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            background-origin: content-box;
            animation: morph 8s ease-in-out 1s infinite;
            background-blend-mode: multiply;
            box-shadow: inset 0 0 0 9px rgba(var(--brand-color-rgb), 0.3);
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            overflow: hidden;
            margin-bottom: 1rem;
            padding: 2rem;

            .profile-picture {
                width: 100%;
                height: auto;
                visibility: hidden;
                transition: all 0.3s;
            }

        }


        svg {
            max-height: 7rem;
            max-width: 80%;

            #signature-path {
                animation: drawSignature 5s linear forwards;
            }
        }
    }

    .social {
        position: absolute;
        bottom: 3rem;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 1300px) {
    .top-section {

        .intro {
            width: 50%;

            h1 {
                font-size: 7rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .top-section {
        flex-direction: column;

        .intro {
            text-align: center;
            border-top: 1px solid var(--text-primary);
            border-left: none;
            width: auto;
            padding: 0;
            padding-top: 2rem;

            h1 {
                font-size: 5rem;
            }
        }

        .signature {
            height: unset;
            padding: 0;
            padding-bottom: 2rem;
        }
    }
}

@keyframes drawSignature {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    25% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
    50% {
        border-radius: 40% 60% 70% 30% / 40% 60% 30% 70%;
    }
    75% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    to {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}